/*------startSlider------*/
#ninja-slider-fluid {
    width:100%;
    background:none;
    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
    -webkit-transition:-webkit-transform 0.5s;
    transition:-webkit-transform 0.5s;
}

#ninja-slider-fluid.fullscreen {
    background:rgba(0,0,0,0.7);
}

#ninja-slider-fluid .fs-iconButton {
    top:1%;
    left:1%;
    width:60px;
    height:26px;
    background: rgba(0,0,0,0.1);
    z-index:3;
    color:white;
    text-align:center;
    position: absolute;
}
/*#ninja-slider-fluid .fs-icon {
    top:1%;
    right:1%;
    width:60px;
    height:26px;
    background: rgba(0,0,0,0.3);
    z-index:2;
    color:white;
    text-align:center;
    font:bold 11px/26px arial;
    border:1px solid rgba(255,255,255,0.3);
    border-radius:2px;
    opacity:0.5;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}*/

#ninja-slider-fluid .slider-inner:hover .fs-icon,
#ninja-slider-fluid.fullscreen .fs-icon {
    opacity: 1;
}

#ninja-slider-fluid .fs-icon::before {      
    content:"EXPAND";
    display:block;
}

#ninja-slider-fluid.fullscreen .fs-icon::before {
    content:"ESC";
}

#ninja-slider-fluid .slider-inner {
    max-width:80%;
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider-fluid.fullscreen .slider-inner {
    width:100%;
    max-width:100%;
}

#ninja-slider-fluid.fullscreen .video {
    width:100%;
    max-width: 100%;
}

#ninja-slider-fluid ul {
    /*overflow:hidden;*/
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider-fluid li {
    
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider-fluid li.ns-show {
    opacity:1;
}


/* --------- slider image ------- */  
#ninja-slider-fluid .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    /*decorate border*/
    box-shadow: 0 1px 5px rgba(0,0,0,.8),inset 0 0 2px rgba(255,255,255,.4);
    border-radius:4px;

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/*---------- Captions -------------------*/
#ninja-slider-fluid .caption {
    padding:1px 10px;
    margin:auto;
    left:0;right:0;
    top:1%;bottom:auto;
    width:70%;
    text-align:center;
    /*font-family:sans-serif;*/
    font-size:1.5em;
    color:#fff;
    background:rgba(0,0,0,0.5);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:4px;
    position:absolute;
    box-sizing:border-box;
    opacity:0;
    -webkit-transition:opacity 1s ease-in;
    transition:opacity 1s ease-in;
}
#ninja-slider-fluid li[class*='-s'] .caption {
    opacity:1;
}


/* ---------If there are videos ------- */ 
#ninja-slider-fluid .video, .video-playbutton-layer 
{
    top:0; left:0; border:0;
    width: 100%;height: 100%;
    text-align: center;
    background: black;
    position: absolute;    
}

/* And if you have added the HTML: <div class="video-playbutton-layer"></div> */
.video-playbutton-layer {
    background: transparent url(video-btn.png) no-repeat center center;
    cursor:pointer;
}

/* And if you have YouTube or Vimeo */
#ninja-slider-fluid div.stopVideoIcon 
{
    position:absolute;
    width:30px;height:30px;
    top:0;right:0px;
    margin:0 0 6px 6px;
    background:rgba(0,0,0,0.7);
    border-bottom-left-radius:4px;
    cursor:pointer;
}
#ninja-slider-fluid div.stopVideoIcon::before {
    content:"+";
    color:white;
    font:bold 30px/30px arial;
    -webkit-transform:rotate(45deg);
    transform: rotate(45deg);
    display:block;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */   
#ninja-slider-fluid-pause-play { display:none;} 

#ninja-slider-fluid-prev, #ninja-slider-fluid-next
{
    position: absolute;
    display:inline-block;
    width:70px;
    height:100px;
    top: 50%;
    margin:0;
    margin-top:-65px;/*pager's height should also be counted*/
    background-color:none;
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:3px; 
    z-index:10;
    opacity:0.5;
    cursor:pointer;
    /*font-family:sans-serif;*/
    font-size:11px;
    line-height:1300%;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
    -webkit-transform:scale(1,1.3);
    transform:scale(1,1.3);
    /*border:1px solid white;*/
}
#ninja-slider-fluid-prev:hover, #ninja-slider-fluid-next:hover {
    opacity:1;
    /*background-color:rgba(0,0,0,0.4);*/
}

#ninja-slider-fluid-prev {
    left: -30px;
}

#ninja-slider-fluid-next {
    right: -30px;
}

/*pagination within the prev/next buttons*/
#ninja-slider-fluid-prev div {opacity:0;margin-left:60%;transition:opacity 0.7s;}
#ninja-slider-fluid-next div {opacity:1;float:right;margin-right:60%;transition:opacity 0.7s;}
#ninja-slider-fluid-prev:hover div, #ninja-slider-fluid-next:hover div{opacity:1;}

/* arrows */
#ninja-slider-fluid-prev::before, #ninja-slider-fluid-next::before {
    position: absolute;
    top: 25px;
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 3px solid #ccc;
    border-top: 3px solid #ccc;
}

#ninja-slider-fluid-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    backface-visibility:hidden;
    right:-16px;
}

#ninja-slider-fluid-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    backface-visibility:hidden;
    left:-16px;
}



/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
/* #ninja-slider-fluid-pager { display:none;}*/
#ninja-slider-fluid-pager
{
    padding-top:15px; /* set the distance away from the slider */
    margin:0 auto; /* center align */
    text-align:center;
    display:table;
    font-size:0;
}
         
#ninja-slider-fluid-pager a 
{
    display:inline-block;
    width: 10px;
    height: 10px;
    background-color: #888;
    font-size:0; /* Non-zero will show the index num */
    margin:2px 6px;
    cursor:pointer;
    border-radius:10px;
    box-shadow:inset 0 1px 3px #666666;
}

#ninja-slider-fluid-pager a:hover 
{
    opacity:0.6;
}
#ninja-slider-fluid-pager a.active 
{
    background-color:#FF333377;
    box-shadow:0 1px 1px rgba(0,0,0,.5);
}

   

#ninja-slider-fluid-pager, #ninja-slider-fluid-prev, #ninja-slider-fluid-next, #ninja-slider-fluid-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*------ Responsive settings ------*/
@media only screen and (max-width:950px){
    
    #ninja-slider-fluid-prev {
        left: -12px;
    }

    #ninja-slider-fluid-next {
        right: -12px;
    }
}

@media only screen and (max-width:600px){
      
    #ninja-slider-fluid-prev, #ninja-slider-fluid-next, #ninja-slider-fluid-pager {
        display:none;
    }
}
/*------endSlider------*/





/*------startSlider------*/
#ninja-slider-dongju {
    width:100%;
    background:none;
    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
    -webkit-transition:-webkit-transform 0.5s;
    transition:-webkit-transform 0.5s;
}

#ninja-slider-dongju.fullscreen {
    background:rgba(0,0,0,0.7);
}

#ninja-slider-dongju .fs-iconButton {
    top:1%;
    left:1%;
    width:60px;
    height:26px;
    background: rgba(0,0,0,0.1);
    z-index:3;
    color:white;
    text-align:center;
    position: absolute;
}

/*#ninja-slider-dongju .fs-icon {
    top:1%;
    right:1%;
    width:60px;
    height:26px;
    background: rgba(0,0,0,0.3);
    z-index:2;
    color:white;
    text-align:center;
    font:bold 11px/26px arial;
    border:1px solid rgba(255,255,255,0.3);
    border-radius:2px;
    opacity:0.5;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}*/

#ninja-slider-dongju .slider-inner:hover .fs-icon,
#ninja-slider-dongju.fullscreen .fs-icon {
    opacity: 1;
}

#ninja-slider-dongju .fs-icon::before {      
    content:"EXPAND";
    display:block;
}

#ninja-slider-dongju.fullscreen .fs-icon::before {
    content:"ESC";
}

#ninja-slider-dongju .slider-inner {
    max-width:80%;
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider-dongju.fullscreen .slider-inner {
    width:100%;
    max-width:100%;
}

#ninja-slider-dongju.fullscreen .video {
    width:100%;
    max-width: 100%;
}

#ninja-slider-dongju ul {
    /*overflow:hidden;*/
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider-dongju li {
    
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider-dongju li.ns-show {
    opacity:1;
}


/* --------- slider image ------- */  
#ninja-slider-dongju .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    /*decorate border*/
    box-shadow: 0 1px 5px rgba(0,0,0,.8),inset 0 0 2px rgba(255,255,255,.4);
    border-radius:4px;

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/*---------- Captions -------------------*/
#ninja-slider-dongju .caption {
    padding:1px 10px;
    margin:auto;
    left:0;right:0;
    top:1%;bottom:auto;
    width:70%;
    text-align:center;
    /*font-family:sans-serif;*/
    font-size:1.5em;
    color:#fff;
    background:rgba(0,0,0,0.5);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:4px;
    position:absolute;
    box-sizing:border-box;
    opacity:0;
    -webkit-transition:opacity 1s ease-in;
    transition:opacity 1s ease-in;
}
#ninja-slider-dongju li[class*='-s'] .caption {
    opacity:1;
}


/* ---------If there are videos ------- */ 
#ninja-slider-dongju .video, .video-playbutton-layer 
{
    top:0; left:0; border:0;
    width: 100%;height: 100%;
    text-align: center;
    background: black;
    position: absolute;    
}

/* And if you have added the HTML: <div class="video-playbutton-layer"></div> */
.video-playbutton-layer {
    background: transparent url(video-btn.png) no-repeat center center;
    cursor:pointer;
}

/* And if you have YouTube or Vimeo */
#ninja-slider-dongju div.stopVideoIcon 
{
    position:absolute;
    width:30px;height:30px;
    top:0;right:0px;
    margin:0 0 6px 6px;
    background:rgba(0,0,0,0.7);
    border-bottom-left-radius:4px;
    cursor:pointer;
}
#ninja-slider-dongju div.stopVideoIcon::before {
    content:"+";
    color:white;
    font:bold 30px/30px arial;
    -webkit-transform:rotate(45deg);
    transform: rotate(45deg);
    display:block;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */   
#ninja-slider-dongju-pause-play { display:none;} 

#ninja-slider-dongju-prev, #ninja-slider-dongju-next
{
    position: absolute;
    display:inline-block;
    width:70px;
    height:100px;
    top: 50%;
    margin:0;
    margin-top:-65px;/*pager's height should also be counted*/
    background-color:none;
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:3px; 
    z-index:10;
    opacity:0.5;
    cursor:pointer;
    /*font-family:sans-serif;*/
    font-size:11px;
    line-height:1300%;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
    -webkit-transform:scale(1,1.3);
    transform:scale(1,1.3);
    /*border:1px solid white;*/
}
#ninja-slider-dongju-prev:hover, #ninja-slider-dongju-next:hover {
    opacity:1;
    /*background-color:rgba(0,0,0,0.4);*/
}

#ninja-slider-dongju-prev {
    left: -30px;
}

#ninja-slider-dongju-next {
    right: -30px;
}

/*pagination within the prev/next buttons*/
#ninja-slider-dongju-prev div {opacity:0;margin-left:60%;transition:opacity 0.7s;}
#ninja-slider-dongju-next div {opacity:1;float:right;margin-right:60%;transition:opacity 0.7s;}
#ninja-slider-dongju-prev:hover div, #ninja-slider-dongju-next:hover div{opacity:1;}

/* arrows */
#ninja-slider-dongju-prev::before, #ninja-slider-dongju-next::before {
    position: absolute;
    top: 25px;
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 3px solid #ccc;
    border-top: 3px solid #ccc;
}

#ninja-slider-dongju-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    backface-visibility:hidden;
    right:-16px;
}

#ninja-slider-dongju-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    backface-visibility:hidden;
    left:-16px;
}



/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
/* #ninja-slider-dongju-pager { display:none;}*/
#ninja-slider-dongju-pager
{
    padding-top:15px; /* set the distance away from the slider */
    margin:0 auto; /* center align */
    text-align:center;
    display:table;
    font-size:0;
}
         
#ninja-slider-dongju-pager a 
{
    display:inline-block;
    width: 10px;
    height: 10px;
    background-color: #888;
    font-size:0; /* Non-zero will show the index num */
    margin:2px 6px;
    cursor:pointer;
    border-radius:10px;
    box-shadow:inset 0 1px 3px #666666;
}

#ninja-slider-dongju-pager a:hover 
{
    opacity:0.6;
}
#ninja-slider-dongju-pager a.active 
{
    background-color:#FF333377;
    box-shadow:0 1px 1px rgba(0,0,0,.5);
}

   

#ninja-slider-dongju-pager, #ninja-slider-dongju-prev, #ninja-slider-dongju-next, #ninja-slider-dongju-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*------ Responsive settings ------*/
@media only screen and (max-width:950px){
    
    #ninja-slider-dongju-prev {
        left: -12px;
    }

    #ninja-slider-dongju-next {
        right: -12px;
    }
}

@media only screen and (max-width:600px){
      
    #ninja-slider-dongju-prev, #ninja-slider-dongju-next, #ninja-slider-dongju-pager {
        display:none;
    }
}
/*------endSlider------*/


/*------startSlider------*/
#ninja-slider-trace {
    width:100%;
    background:none;
    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
    -webkit-transition:-webkit-transform 0.5s;
    transition:-webkit-transform 0.5s;
}

#ninja-slider-trace.fullscreen {
    background:rgba(0,0,0,0.7);
}

#ninja-slider-trace .fs-iconButton {
    top:1%;
    left:1%;
    width:60px;
    height:26px;
    background: rgba(0,0,0,0.1);
    z-index:3;
    color:white;
    text-align:center;
    position: absolute;
}

/*#ninja-slider-trace .fs-icon {
    top:1%;
    right:1%;
    width:60px;
    height:26px;
    background: rgba(0,0,0,0.3);
    z-index:2;
    color:white;
    text-align:center;
    font:bold 11px/26px arial;
    border:1px solid rgba(255,255,255,0.3);
    border-radius:2px;
    opacity:0.5;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}*/

#ninja-slider-trace .slider-inner:hover .fs-icon,
#ninja-slider-trace.fullscreen .fs-icon {
    opacity: 1;
}

#ninja-slider-trace .fs-icon::before {      
    content:"EXPAND";
    display:block;
}

#ninja-slider-trace.fullscreen .fs-icon::before {
    content:"ESC";
}

#ninja-slider-trace .slider-inner {
    max-width:80%;
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider-trace.fullscreen .slider-inner {
    width:100%;
    max-width:100%;
}

#ninja-slider-trace.fullscreen .video {
    width:100%;
    max-width: 100%;
}

#ninja-slider-trace ul {
    /*overflow:hidden;*/
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider-trace li {
    
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider-trace li.ns-show {
    opacity:1;
}


/* --------- slider image ------- */  
#ninja-slider-trace .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    /*decorate border*/
    box-shadow: 0 1px 5px rgba(0,0,0,.8),inset 0 0 2px rgba(255,255,255,.4);
    border-radius:4px;

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/*---------- Captions -------------------*/
#ninja-slider-trace .caption {
    padding:1px 10px;
    margin:auto;
    left:0;right:0;
    top:1%;bottom:auto;
    width:70%;
    text-align:center;
    /*font-family:sans-serif;*/
    font-size:1.5em;
    color:#fff;
    background:rgba(0,0,0,0.5);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:4px;
    position:absolute;
    box-sizing:border-box;
    opacity:0;
    -webkit-transition:opacity 1s ease-in;
    transition:opacity 1s ease-in;
}
#ninja-slider-trace li[class*='-s'] .caption {
    opacity:1;
}


/* ---------If there are videos ------- */ 
#ninja-slider-trace .video, .video-playbutton-layer 
{
    top:0; left:0; border:0;
    width: 100%;height: 100%;
    text-align: center;
    background: black;
    position: absolute;    
}

/* And if you have added the HTML: <div class="video-playbutton-layer"></div> */
.video-playbutton-layer {
    background: transparent url(video-btn.png) no-repeat center center;
    cursor:pointer;
}

/* And if you have YouTube or Vimeo */
#ninja-slider-trace div.stopVideoIcon 
{
    position:absolute;
    width:30px;height:30px;
    top:0;right:0px;
    margin:0 0 6px 6px;
    background:rgba(0,0,0,0.7);
    border-bottom-left-radius:4px;
    cursor:pointer;
}
#ninja-slider-trace div.stopVideoIcon::before {
    content:"+";
    color:white;
    font:bold 30px/30px arial;
    -webkit-transform:rotate(45deg);
    transform: rotate(45deg);
    display:block;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */   
#ninja-slider-trace-pause-play { display:none;} 

#ninja-slider-trace-prev, #ninja-slider-trace-next
{
    position: absolute;
    display:inline-block;
    width:70px;
    height:100px;
    top: 50%;
    margin:0;
    margin-top:-65px;/*pager's height should also be counted*/
    background-color:none;
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:3px; 
    z-index:10;
    opacity:0.5;
    cursor:pointer;
    /*font-family:sans-serif;*/
    font-size:11px;
    line-height:1300%;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
    -webkit-transform:scale(1,1.3);
    transform:scale(1,1.3);
    /*border:1px solid white;*/
}
#ninja-slider-trace-prev:hover, #ninja-slider-trace-next:hover {
    opacity:1;
    /*background-color:rgba(0,0,0,0.4);*/
}

#ninja-slider-trace-prev {
    left: -30px;
}

#ninja-slider-trace-next {
    right: -30px;
}

/*pagination within the prev/next buttons*/
#ninja-slider-trace-prev div {opacity:0;margin-left:60%;transition:opacity 0.7s;}
#ninja-slider-trace-next div {opacity:1;float:right;margin-right:60%;transition:opacity 0.7s;}
#ninja-slider-trace-prev:hover div, #ninja-slider-trace-next:hover div{opacity:1;}

/* arrows */
#ninja-slider-trace-prev::before, #ninja-slider-trace-next::before {
    position: absolute;
    top: 25px;
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 3px solid #ccc;
    border-top: 3px solid #ccc;
}

#ninja-slider-trace-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    backface-visibility:hidden;
    right:-16px;
}

#ninja-slider-trace-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    backface-visibility:hidden;
    left:-16px;
}



/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
/* #ninja-slider-trace-pager { display:none;}*/
#ninja-slider-trace-pager
{
    padding-top:15px; /* set the distance away from the slider */
    margin:0 auto; /* center align */
    text-align:center;
    display:table;
    font-size:0;
}
         
#ninja-slider-trace-pager a 
{
    display:inline-block;
    width: 10px;
    height: 10px;
    background-color: #888;
    font-size:0; /* Non-zero will show the index num */
    margin:2px 6px;
    cursor:pointer;
    border-radius:10px;
    box-shadow:inset 0 1px 3px #666666;
}

#ninja-slider-trace-pager a:hover 
{
    opacity:0.6;
}
#ninja-slider-trace-pager a.active 
{
    background-color:#FF333377;
    box-shadow:0 1px 1px rgba(0,0,0,.5);
}

   

#ninja-slider-trace-pager, #ninja-slider-trace-prev, #ninja-slider-trace-next, #ninja-slider-trace-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*------ Responsive settings ------*/
@media only screen and (max-width:950px){
    
    #ninja-slider-trace-prev {
        left: -12px;
    }

    #ninja-slider-trace-next {
        right: -12px;
    }
}

@media only screen and (max-width:600px){
      
    #ninja-slider-trace-prev, #ninja-slider-trace-next, #ninja-slider-trace-pager {
        display:none;
    }
}
/*------endSlider------*/


/*------startSlider------*/
#ninja-slider-sharp {
    width:100%;
    background:none;
    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
    -webkit-transition:-webkit-transform 0.5s;
    transition:-webkit-transform 0.5s;
}

#ninja-slider-sharp.fullscreen {
    background:rgba(0,0,0,0.7);
}

#ninja-slider-sharp .fs-iconButton {
    top:1%;
    left:1%;
    width:60px;
    height:26px;
    background: rgba(0,0,0,0.1);
    z-index:3;
    color:white;
    text-align:center;
    position: absolute;
}

/*#ninja-slider-sharp .fs-icon {
    top:1%;
    right:1%;
    width:60px;
    height:26px;
    background: rgba(0,0,0,0.3);
    z-index:2;
    color:white;
    text-align:center;
    font:bold 11px/26px arial;
    border:1px solid rgba(255,255,255,0.3);
    border-radius:2px;
    opacity:0.5;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}*/

#ninja-slider-sharp .slider-inner:hover .fs-icon,
#ninja-slider-sharp.fullscreen .fs-icon {
    opacity: 1;
}

#ninja-slider-sharp .fs-icon::before {      
    content:"EXPAND";
    display:block;
}

#ninja-slider-sharp.fullscreen .fs-icon::before {
    content:"ESC";
}

#ninja-slider-sharp .slider-inner {
    max-width:80%;
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider-sharp.fullscreen .slider-inner {
    width:100%;
    max-width:100%;
}

#ninja-slider-sharp.fullscreen .video {
    width:100%;
    max-width: 100%;
}

#ninja-slider-sharp ul {
    /*overflow:hidden;*/
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider-sharp li {
    
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider-sharp li.ns-show {
    opacity:1;
}


/* --------- slider image ------- */  
#ninja-slider-sharp .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    /*decorate border*/
    box-shadow: 0 1px 5px rgba(0,0,0,.8),inset 0 0 2px rgba(255,255,255,.4);
    border-radius:4px;

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/*---------- Captions -------------------*/
#ninja-slider-sharp .caption {
    padding:1px 10px;
    margin:auto;
    left:0;right:0;
    top:1%;bottom:auto;
    width:70%;
    text-align:center;
    /*font-family:sans-serif;*/
    font-size:1.5em;
    color:#fff;
    background:rgba(0,0,0,0.5);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:4px;
    position:absolute;
    box-sizing:border-box;
    opacity:0;
    -webkit-transition:opacity 1s ease-in;
    transition:opacity 1s ease-in;
}
#ninja-slider-sharp li[class*='-s'] .caption {
    opacity:1;
}


/* ---------If there are videos ------- */ 
#ninja-slider-sharp .video, .video-playbutton-layer 
{
    top:0; left:0; border:0;
    width: 100%;height: 100%;
    text-align: center;
    background: black;
    position: absolute;    
}

/* And if you have added the HTML: <div class="video-playbutton-layer"></div> */
.video-playbutton-layer {
    background: transparent url(video-btn.png) no-repeat center center;
    cursor:pointer;
}

/* And if you have YouTube or Vimeo */
#ninja-slider-sharp div.stopVideoIcon 
{
    position:absolute;
    width:30px;height:30px;
    top:0;right:0px;
    margin:0 0 6px 6px;
    background:rgba(0,0,0,0.7);
    border-bottom-left-radius:4px;
    cursor:pointer;
}
#ninja-slider-sharp div.stopVideoIcon::before {
    content:"+";
    color:white;
    font:bold 30px/30px arial;
    -webkit-transform:rotate(45deg);
    transform: rotate(45deg);
    display:block;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */   
#ninja-slider-sharp-pause-play { display:none;} 

#ninja-slider-sharp-prev, #ninja-slider-sharp-next
{
    position: absolute;
    display:inline-block;
    width:70px;
    height:100px;
    top: 50%;
    margin:0;
    margin-top:-65px;/*pager's height should also be counted*/
    background-color:none;
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:3px; 
    z-index:10;
    opacity:0.5;
    cursor:pointer;
    /*font-family:sans-serif;*/
    font-size:11px;
    line-height:1300%;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
    -webkit-transform:scale(1,1.3);
    transform:scale(1,1.3);
    /*border:1px solid white;*/
}
#ninja-slider-sharp-prev:hover, #ninja-slider-sharp-next:hover {
    opacity:1;
    /*background-color:rgba(0,0,0,0.4);*/
}

#ninja-slider-sharp-prev {
    left: -30px;
}

#ninja-slider-sharp-next {
    right: -30px;
}

/*pagination within the prev/next buttons*/
#ninja-slider-sharp-prev div {opacity:0;margin-left:60%;transition:opacity 0.7s;}
#ninja-slider-sharp-next div {opacity:1;float:right;margin-right:60%;transition:opacity 0.7s;}
#ninja-slider-sharp-prev:hover div, #ninja-slider-sharp-next:hover div{opacity:1;}

/* arrows */
#ninja-slider-sharp-prev::before, #ninja-slider-sharp-next::before {
    position: absolute;
    top: 25px;
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 3px solid #ccc;
    border-top: 3px solid #ccc;
}

#ninja-slider-sharp-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    backface-visibility:hidden;
    right:-16px;
}

#ninja-slider-sharp-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    backface-visibility:hidden;
    left:-16px;
}



/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
/* #ninja-slider-sharp-pager { display:none;}*/
#ninja-slider-sharp-pager
{
    padding-top:15px; /* set the distance away from the slider */
    margin:0 auto; /* center align */
    text-align:center;
    display:table;
    font-size:0;
}
         
#ninja-slider-sharp-pager a 
{
    display:inline-block;
    width: 10px;
    height: 10px;
    background-color: #888;
    font-size:0; /* Non-zero will show the index num */
    margin:2px 6px;
    cursor:pointer;
    border-radius:10px;
    box-shadow:inset 0 1px 3px #666666;
}

#ninja-slider-sharp-pager a:hover 
{
    opacity:0.6;
}
#ninja-slider-sharp-pager a.active 
{
    background-color:#FF333377;
    box-shadow:0 1px 1px rgba(0,0,0,.5);
}

   

#ninja-slider-sharp-pager, #ninja-slider-sharp-prev, #ninja-slider-sharp-next, #ninja-slider-sharp-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*------ Responsive settings ------*/
@media only screen and (max-width:950px){
    
    #ninja-slider-sharp-prev {
        left: -12px;
    }

    #ninja-slider-sharp-next {
        right: -12px;
    }
}

@media only screen and (max-width:600px){
      
    #ninja-slider-sharp-prev, #ninja-slider-sharp-next, #ninja-slider-sharp-pager {
        display:none;
    }
}
/*------endSlider------*/

/*------startSlider------*/
#ninja-slider-synesthesia {
    width:100%;
    background:none;
    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
    -webkit-transition:-webkit-transform 0.5s;
    transition:-webkit-transform 0.5s;
}

#ninja-slider-synesthesia.fullscreen {
    background:rgba(0,0,0,0.7);
}

#ninja-slider-synesthesia .fs-iconButton {
    top:1%;
    left:1%;
    width:60px;
    height:26px;
    background: rgba(0,0,0,0.1);
    z-index:3;
    color:white;
    text-align:center;
    position: absolute;
}

/*#ninja-slider-synesthesia .fs-icon {
    top:1%;
    right:1%;
    width:60px;
    height:26px;
    background: rgba(0,0,0,0.3);
    z-index:2;
    color:white;
    text-align:center;
    font:bold 11px/26px arial;
    border:1px solid rgba(255,255,255,0.3);
    border-radius:2px;
    opacity:0.5;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}*/

#ninja-slider-synesthesia .slider-inner:hover .fs-icon,
#ninja-slider-synesthesia.fullscreen .fs-icon {
    opacity: 1;
}

#ninja-slider-synesthesia .fs-icon::before {      
    content:"EXPAND";
    display:block;
}

#ninja-slider-synesthesia.fullscreen .fs-icon::before {
    content:"ESC";
}

#ninja-slider-synesthesia .slider-inner {
    max-width:80%;
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider-synesthesia.fullscreen .slider-inner {
    width:100%;
    max-width:100%;
}

#ninja-slider-synesthesia.fullscreen .video {
    width:100%;
    max-width: 100%;
}

#ninja-slider-synesthesia ul {
    /*overflow:hidden;*/
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider-synesthesia li {
    
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider-synesthesia li.ns-show {
    opacity:1;
}


/* --------- slider image ------- */  
#ninja-slider-synesthesia .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    /*decorate border*/
    box-shadow: 0 1px 5px rgba(0,0,0,.8),inset 0 0 2px rgba(255,255,255,.4);
    border-radius:4px;

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/*---------- Captions -------------------*/
#ninja-slider-synesthesia .caption {
    padding:1px 10px;
    margin:auto;
    left:0;right:0;
    top:1%;bottom:auto;
    width:70%;
    text-align:center;
    /*font-family:sans-serif;*/
    font-size:1.5em;
    color:#fff;
    background:rgba(0,0,0,0.5);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:4px;
    position:absolute;
    box-sizing:border-box;
    opacity:0;
    -webkit-transition:opacity 1s ease-in;
    transition:opacity 1s ease-in;
}
#ninja-slider-synesthesia li[class*='-s'] .caption {
    opacity:1;
}


/* ---------If there are videos ------- */ 
#ninja-slider-synesthesia .video, .video-playbutton-layer 
{
    top:0; left:0; border:0;
    width: 100%;height: 100%;
    text-align: center;
    background: black;
    position: absolute;    
}

/* And if you have added the HTML: <div class="video-playbutton-layer"></div> */
.video-playbutton-layer {
    background: transparent url(video-btn.png) no-repeat center center;
    cursor:pointer;
}

/* And if you have YouTube or Vimeo */
#ninja-slider-synesthesia div.stopVideoIcon 
{
    position:absolute;
    width:30px;height:30px;
    top:0;right:0px;
    margin:0 0 6px 6px;
    background:rgba(0,0,0,0.7);
    border-bottom-left-radius:4px;
    cursor:pointer;
}
#ninja-slider-synesthesia div.stopVideoIcon::before {
    content:"+";
    color:white;
    font:bold 30px/30px arial;
    -webkit-transform:rotate(45deg);
    transform: rotate(45deg);
    display:block;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */   
#ninja-slider-synesthesia-pause-play { display:none;} 

#ninja-slider-synesthesia-prev, #ninja-slider-synesthesia-next
{
    position: absolute;
    display:inline-block;
    width:70px;
    height:100px;
    top: 50%;
    margin:0;
    margin-top:-65px;/*pager's height should also be counted*/
    background-color:none;
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:3px; 
    z-index:10;
    opacity:0.5;
    cursor:pointer;
    /*font-family:sans-serif;*/
    font-size:11px;
    line-height:1300%;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
    -webkit-transform:scale(1,1.3);
    transform:scale(1,1.3);
    /*border:1px solid white;*/
}
#ninja-slider-synesthesia-prev:hover, #ninja-slider-synesthesia-next:hover {
    opacity:1;
    /*background-color:rgba(0,0,0,0.4);*/
}

#ninja-slider-synesthesia-prev {
    left: -30px;
}

#ninja-slider-synesthesia-next {
    right: -30px;
}

/*pagination within the prev/next buttons*/
#ninja-slider-synesthesia-prev div {opacity:0;margin-left:60%;transition:opacity 0.7s;}
#ninja-slider-synesthesia-next div {opacity:1;float:right;margin-right:60%;transition:opacity 0.7s;}
#ninja-slider-synesthesia-prev:hover div, #ninja-slider-synesthesia-next:hover div{opacity:1;}

/* arrows */
#ninja-slider-synesthesia-prev::before, #ninja-slider-synesthesia-next::before {
    position: absolute;
    top: 25px;
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 3px solid #ccc;
    border-top: 3px solid #ccc;
}

#ninja-slider-synesthesia-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    backface-visibility:hidden;
    right:-16px;
}

#ninja-slider-synesthesia-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    backface-visibility:hidden;
    left:-16px;
}



/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
/* #ninja-slider-synesthesia-pager { display:none;}*/
#ninja-slider-synesthesia-pager
{
    padding-top:15px; /* set the distance away from the slider */
    margin:0 auto; /* center align */
    text-align:center;
    display:table;
    font-size:0;
}
         
#ninja-slider-synesthesia-pager a 
{
    display:inline-block;
    width: 10px;
    height: 10px;
    background-color: #888;
    font-size:0; /* Non-zero will show the index num */
    margin:2px 6px;
    cursor:pointer;
    border-radius:10px;
    box-shadow:inset 0 1px 3px #666666;
}

#ninja-slider-synesthesia-pager a:hover 
{
    opacity:0.6;
}
#ninja-slider-synesthesia-pager a.active 
{
    background-color:#FF333377;
    box-shadow:0 1px 1px rgba(0,0,0,.5);
}

   

#ninja-slider-synesthesia-pager, #ninja-slider-synesthesia-prev, #ninja-slider-synesthesia-next, #ninja-slider-synesthesia-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*------ Responsive settings ------*/
@media only screen and (max-width:950px){
    
    #ninja-slider-synesthesia-prev {
        left: -12px;
    }

    #ninja-slider-synesthesia-next {
        right: -12px;
    }
}

@media only screen and (max-width:600px){
      
    #ninja-slider-synesthesia-prev, #ninja-slider-synesthesia-next, #ninja-slider-synesthesia-pager {
        display:none;
    }
}
/*------endSlider------*/

/*------startSlider------*/
#ninja-slider-soundmusic {
    width:100%;
    background:none;
    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
    -webkit-transition:-webkit-transform 0.5s;
    transition:-webkit-transform 0.5s;
}

#ninja-slider-soundmusic.fullscreen {
    background:rgba(0,0,0,0.7);
}

#ninja-slider-soundmusic .fs-iconButton {
    top:1%;
    left:1%;
    width:60px;
    height:26px;
    background: rgba(0,0,0,0.1);
    z-index:3;
    color:white;
    text-align:center;
    position: absolute;
}
/*#ninja-slider-soundmusic .fs-icon {
    top:1%;
    right:1%;
    width:60px;
    height:26px;
    background: rgba(0,0,0,0.3);
    z-index:2;
    color:white;
    text-align:center;
    font:bold 11px/26px arial;
    border:1px solid rgba(255,255,255,0.3);
    border-radius:2px;
    opacity:0.5;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}*/

#ninja-slider-soundmusic .slider-inner:hover .fs-icon,
#ninja-slider-soundmusic.fullscreen .fs-icon {
    opacity: 1;
}

#ninja-slider-soundmusic .fs-icon::before {      
    content:"EXPAND";
    display:block;
}

#ninja-slider-soundmusic.fullscreen .fs-icon::before {
    content:"ESC";
}

#ninja-slider-soundmusic .slider-inner {
    max-width:80%;
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider-soundmusic.fullscreen .slider-inner {
    width:100%;
    max-width:100%;
}

#ninja-slider-soundmusic.fullscreen .video {
    width:100%;
    max-width: 100%;
}

#ninja-slider-soundmusic ul {
    /*overflow:hidden;*/
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider-soundmusic li {
    
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider-soundmusic li.ns-show {
    opacity:1;
}


/* --------- slider image ------- */  
#ninja-slider-soundmusic .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    /*decorate border*/
    box-shadow: 0 1px 5px rgba(0,0,0,.8),inset 0 0 2px rgba(255,255,255,.4);
    border-radius:4px;

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/*---------- Captions -------------------*/
#ninja-slider-soundmusic .caption {
    padding:1px 10px;
    margin:auto;
    left:0;right:0;
    top:1%;bottom:auto;
    width:70%;
    text-align:center;
    /*font-family:sans-serif;*/
    font-size:1.5em;
    color:#fff;
    background:rgba(0,0,0,0.5);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:4px;
    position:absolute;
    box-sizing:border-box;
    opacity:0;
    -webkit-transition:opacity 1s ease-in;
    transition:opacity 1s ease-in;
}
#ninja-slider-soundmusic li[class*='-s'] .caption {
    opacity:1;
}


/* ---------If there are videos ------- */ 
#ninja-slider-soundmusic .video, .video-playbutton-layer 
{
    top:0; left:0; border:0;
    width: 100%;height: 100%;
    text-align: center;
    background: black;
    position: absolute;    
}

/* And if you have added the HTML: <div class="video-playbutton-layer"></div> */
.video-playbutton-layer {
    background: transparent url(video-btn.png) no-repeat center center;
    cursor:pointer;
}

/* And if you have YouTube or Vimeo */
#ninja-slider-soundmusic div.stopVideoIcon 
{
    position:absolute;
    width:30px;height:30px;
    top:0;right:0px;
    margin:0 0 6px 6px;
    background:rgba(0,0,0,0.7);
    border-bottom-left-radius:4px;
    cursor:pointer;
}
#ninja-slider-soundmusic div.stopVideoIcon::before {
    content:"+";
    color:white;
    font:bold 30px/30px arial;
    -webkit-transform:rotate(45deg);
    transform: rotate(45deg);
    display:block;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */   
#ninja-slider-soundmusic-pause-play { display:none;} 

#ninja-slider-soundmusic-prev, #ninja-slider-soundmusic-next
{
    position: absolute;
    display:inline-block;
    width:70px;
    height:100px;
    top: 50%;
    margin:0;
    margin-top:-65px;/*pager's height should also be counted*/
    background-color:none;
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:3px; 
    z-index:10;
    opacity:0.5;
    cursor:pointer;
    /*font-family:sans-serif;*/
    font-size:11px;
    line-height:1300%;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
    -webkit-transform:scale(1,1.3);
    transform:scale(1,1.3);
    /*border:1px solid white;*/
}
#ninja-slider-soundmusic-prev:hover, #ninja-slider-soundmusic-next:hover {
    opacity:1;
    /*background-color:rgba(0,0,0,0.4);*/
}

#ninja-slider-soundmusic-prev {
    left: -30px;
}

#ninja-slider-soundmusic-next {
    right: -30px;
}

/*pagination within the prev/next buttons*/
#ninja-slider-soundmusic-prev div {opacity:0;margin-left:60%;transition:opacity 0.7s;}
#ninja-slider-soundmusic-next div {opacity:1;float:right;margin-right:60%;transition:opacity 0.7s;}
#ninja-slider-soundmusic-prev:hover div, #ninja-slider-soundmusic-next:hover div{opacity:1;}

/* arrows */
#ninja-slider-soundmusic-prev::before, #ninja-slider-soundmusic-next::before {
    position: absolute;
    top: 25px;
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 3px solid #ccc;
    border-top: 3px solid #ccc;
}

#ninja-slider-soundmusic-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    backface-visibility:hidden;
    right:-16px;
}

#ninja-slider-soundmusic-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    backface-visibility:hidden;
    left:-16px;
}



/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
/* #ninja-slider-soundmusic-pager { display:none;}*/
#ninja-slider-soundmusic-pager
{
    padding-top:15px; /* set the distance away from the slider */
    margin:0 auto; /* center align */
    text-align:center;
    display:table;
    font-size:0;
}
         
#ninja-slider-soundmusic-pager a 
{
    display:inline-block;
    width: 10px;
    height: 10px;
    background-color: #888;
    font-size:0; /* Non-zero will show the index num */
    margin:2px 6px;
    cursor:pointer;
    border-radius:10px;
    box-shadow:inset 0 1px 3px #666666;
}

#ninja-slider-soundmusic-pager a:hover 
{
    opacity:0.6;
}
#ninja-slider-soundmusic-pager a.active 
{
    background-color:#FF333377;
    box-shadow:0 1px 1px rgba(0,0,0,.5);
}

   

#ninja-slider-soundmusic-pager, #ninja-slider-soundmusic-prev, #ninja-slider-soundmusic-next, #ninja-slider-soundmusic-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*------ Responsive settings ------*/
@media only screen and (max-width:950px){
    
    #ninja-slider-soundmusic-prev {
        left: -12px;
    }

    #ninja-slider-soundmusic-next {
        right: -12px;
    }
}

@media only screen and (max-width:600px){
      
    #ninja-slider-soundmusic-prev, #ninja-slider-soundmusic-next, #ninja-slider-soundmusic-pager {
        display:none;
    }
}
/*------endSlider------*/