/*------startSlider------*/
#thumbnail-slider1 {
    -webkit-transform: scale(0.8);
    transform:scale(0.8);
    transition:transform 0.25s;
    opacity:0.95;

    margin:4px auto; /*center-aligned*/
    width:100%;
    max-width:780px;
    padding:0px 40px;/*Gives room for arrow buttons*/
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider1:hover {
    -webkit-transform: scale(1);
    transform:scale(1);
    opacity:1;
}

#ninja-slider.fullscreen #thumbnail-slider1 {
    width:90%;
    max-width:1120px;
}

#thumbnail-slider1 div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}

 
#thumbnail-slider1 div.inner ul {

    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider1 ul li {
    opacity:1;
    overflow:visible;
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:2px solid #222;
    margin:0 4px;/* Spacing between thumbs*/
    box-sizing:content-box;
    
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;

    transition:all 0.2s;
    -webkit-transform:scale(1); 
    transform:scale(1);
}

#thumbnail-slider1 ul li.active {
    border-color:#ff3333FF;
}

#thumbnail-slider1 li:hover {
    border-color:rgba(255,255,255,0.7);
}


#thumbnail-slider1 .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}


/* --------- Captions ------- */
#thumbnail-slider1 li > span {
    position:absolute;
    color:white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 20px 0px black;
    font-size: 20px;
    bottom: 2px;
    right: 2px;
}


/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider1-pause-play {display:none;} /*.pause*/

#thumbnail-slider1-prev, #thumbnail-slider1-next
{
    position: absolute;
    background-color:none;
    width:40px;
    height:50px;
    line-height:50px;
    top: 50%;
    margin:0;
    margin-top:-25px;
    color:white;
    z-index:10;
    cursor:pointer;
    opacity:1;
    *background-color:#ccc;/*IE7 hack*/
}

#thumbnail-slider1-prev {
    left:0px; right:auto;
}

#thumbnail-slider1-next {
    left:auto; right:0px;
}
#thumbnail-slider1-next.disabled, #thumbnail-slider1-prev.disabled {
    opacity:0.3;
    cursor:default;
}

/* arrows */
#thumbnail-slider1-prev::before, #thumbnail-slider1-next::before {
    position: absolute;
    top: 15px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-left: 3px solid #DDD;
    border-top: 3px solid #DDD;
}

#thumbnail-slider1-prev::before {
    left:14px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider1-next::before {
    right:14px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){
    
    #thumbnail-slider1 {
        padding:0;
    }

    #thumbnail-slider1-prev, #thumbnail-slider1-next {
        display:none;
    }
}
/*------endSlider------*/


/*------startSlider------*/
#thumbnail-slider2 {
    -webkit-transform: scale(0.8);
    transform:scale(0.8);
    transition:transform 0.25s;
    opacity:0.95;

    margin:4px auto; /*center-aligned*/
    width:100%;
    max-width:780px;
    padding:0px 40px;/*Gives room for arrow buttons*/
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider2:hover {
    -webkit-transform: scale(1);
    transform:scale(1);
    opacity:1;
}

#ninja-slider.fullscreen #thumbnail-slider2 {
    width:90%;
    max-width:1120px;
}

#thumbnail-slider2 div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}

 
#thumbnail-slider2 div.inner ul {

    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider2 ul li {
    opacity:1;
    overflow:visible;
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:2px solid #222;
    margin:0 4px;/* Spacing between thumbs*/
    box-sizing:content-box;
    
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;

    transition:all 0.2s;
    -webkit-transform:scale(1); 
    transform:scale(1);
}

#thumbnail-slider2 ul li.active {
    border-color:#ff3333FF;
}

#thumbnail-slider2 li:hover {
    border-color:rgba(255,255,255,0.7);
}


#thumbnail-slider2 .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}


/* --------- Captions ------- */
#thumbnail-slider2 li > span {
    position:absolute;
    color:white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 20px 0px black;
    font-size: 20px;
    bottom: 2px;
    right: 2px;
}


/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider2-pause-play {display:none;} /*.pause*/

#thumbnail-slider2-prev, #thumbnail-slider2-next
{
    position: absolute;
    background-color:none;
    width:40px;
    height:50px;
    line-height:50px;
    top: 50%;
    margin:0;
    margin-top:-25px;
    color:white;
    z-index:10;
    cursor:pointer;
    opacity:1;
    *background-color:#ccc;/*IE7 hack*/
}

#thumbnail-slider2-prev {
    left:0px; right:auto;
}

#thumbnail-slider2-next {
    left:auto; right:0px;
}
#thumbnail-slider2-next.disabled, #thumbnail-slider2-prev.disabled {
    opacity:0.3;
    cursor:default;
}

/* arrows */
#thumbnail-slider2-prev::before, #thumbnail-slider2-next::before {
    position: absolute;
    top: 15px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-left: 3px solid #DDD;
    border-top: 3px solid #DDD;
}

#thumbnail-slider2-prev::before {
    left:14px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider2-next::before {
    right:14px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){
    
    #thumbnail-slider2 {
        padding:0;
    }

    #thumbnail-slider2-prev, #thumbnail-slider2-next {
        display:none;
    }
}
/*------endSlider------*/

/*------startSlider------*/
#thumbnail-slider3 {
    -webkit-transform: scale(0.8);
    transform:scale(0.8);
    transition:transform 0.25s;
    opacity:0.95;

    margin:4px auto; /*center-aligned*/
    width:100%;
    max-width:780px;
    padding:0px 40px;/*Gives room for arrow buttons*/
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider3:hover {
    -webkit-transform: scale(1);
    transform:scale(1);
    opacity:1;
}

#ninja-slider.fullscreen #thumbnail-slider3 {
    width:90%;
    max-width:1120px;
}

#thumbnail-slider3 div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}

 
#thumbnail-slider3 div.inner ul {

    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider3 ul li {
    opacity:1;
    overflow:visible;
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:2px solid #222;
    margin:0 4px;/* Spacing between thumbs*/
    box-sizing:content-box;
    
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;

    transition:all 0.2s;
    -webkit-transform:scale(1); 
    transform:scale(1);
}

#thumbnail-slider3 ul li.active {
    border-color:#ff3333FF;
}

#thumbnail-slider3 li:hover {
    border-color:rgba(255,255,255,0.7);
}


#thumbnail-slider3 .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}


/* --------- Captions ------- */
#thumbnail-slider3 li > span {
    position:absolute;
    color:white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 20px 0px black;
    font-size: 20px;
    bottom: 2px;
    right: 2px;
}


/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider3-pause-play {display:none;} /*.pause*/

#thumbnail-slider3-prev, #thumbnail-slider3-next
{
    position: absolute;
    background-color:none;
    width:40px;
    height:50px;
    line-height:50px;
    top: 50%;
    margin:0;
    margin-top:-25px;
    color:white;
    z-index:10;
    cursor:pointer;
    opacity:1;
    *background-color:#ccc;/*IE7 hack*/
}

#thumbnail-slider3-prev {
    left:0px; right:auto;
}

#thumbnail-slider3-next {
    left:auto; right:0px;
}
#thumbnail-slider3-next.disabled, #thumbnail-slider3-prev.disabled {
    opacity:0.3;
    cursor:default;
}

/* arrows */
#thumbnail-slider3-prev::before, #thumbnail-slider3-next::before {
    position: absolute;
    top: 15px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-left: 3px solid #DDD;
    border-top: 3px solid #DDD;
}

#thumbnail-slider3-prev::before {
    left:14px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider3-next::before {
    right:14px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){
    
    #thumbnail-slider3 {
        padding:0;
    }

    #thumbnail-slider3-prev, #thumbnail-slider3-next {
        display:none;
    }
}
/*------endSlider------*/

/*------startSlider------*/
#thumbnail-slider4 {
    -webkit-transform: scale(0.8);
    transform:scale(0.8);
    transition:transform 0.25s;
    opacity:0.95;

    margin:4px auto; /*center-aligned*/
    width:100%;
    max-width:780px;
    padding:0px 40px;/*Gives room for arrow buttons*/
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider4:hover {
    -webkit-transform: scale(1);
    transform:scale(1);
    opacity:1;
}

#ninja-slider.fullscreen #thumbnail-slider4 {
    width:90%;
    max-width:1120px;
}

#thumbnail-slider4 div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}

 
#thumbnail-slider4 div.inner ul {

    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider4 ul li {
    opacity:1;
    overflow:visible;
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:2px solid #222;
    margin:0 4px;/* Spacing between thumbs*/
    box-sizing:content-box;
    
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;

    transition:all 0.2s;
    -webkit-transform:scale(1); 
    transform:scale(1);
}

#thumbnail-slider4 ul li.active {
    border-color:#ff3333FF;
}

#thumbnail-slider4 li:hover {
    border-color:rgba(255,255,255,0.7);
}


#thumbnail-slider4 .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}


/* --------- Captions ------- */
#thumbnail-slider4 li > span {
    position:absolute;
    color:white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 20px 0px black;
    font-size: 20px;
    bottom: 2px;
    right: 2px;
}


/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider4-pause-play {display:none;} /*.pause*/

#thumbnail-slider4-prev, #thumbnail-slider4-next
{
    position: absolute;
    background-color:none;
    width:40px;
    height:50px;
    line-height:50px;
    top: 50%;
    margin:0;
    margin-top:-25px;
    color:white;
    z-index:10;
    cursor:pointer;
    opacity:1;
    *background-color:#ccc;/*IE7 hack*/
}

#thumbnail-slider4-prev {
    left:0px; right:auto;
}

#thumbnail-slider4-next {
    left:auto; right:0px;
}
#thumbnail-slider4-next.disabled, #thumbnail-slider4-prev.disabled {
    opacity:0.3;
    cursor:default;
}

/* arrows */
#thumbnail-slider4-prev::before, #thumbnail-slider4-next::before {
    position: absolute;
    top: 15px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-left: 3px solid #DDD;
    border-top: 3px solid #DDD;
}

#thumbnail-slider4-prev::before {
    left:14px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider4-next::before {
    right:14px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){
    
    #thumbnail-slider4 {
        padding:0;
    }

    #thumbnail-slider4-prev, #thumbnail-slider4-next {
        display:none;
    }
}
/*------endSlider------*/

/*------startSlider------*/
#thumbnail-slider5 {
    -webkit-transform: scale(0.8);
    transform:scale(0.8);
    transition:transform 0.25s;
    opacity:0.95;

    margin:4px auto; /*center-aligned*/
    width:100%;
    max-width:780px;
    padding:0px 40px;/*Gives room for arrow buttons*/
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider5:hover {
    -webkit-transform: scale(1);
    transform:scale(1);
    opacity:1;
}

#ninja-slider.fullscreen #thumbnail-slider5 {
    width:90%;
    max-width:1120px;
}

#thumbnail-slider5 div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}

 
#thumbnail-slider5 div.inner ul {

    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider5 ul li {
    opacity:1;
    overflow:visible;
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:2px solid #222;
    margin:0 4px;/* Spacing between thumbs*/
    box-sizing:content-box;
    
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;

    transition:all 0.2s;
    -webkit-transform:scale(1); 
    transform:scale(1);
}

#thumbnail-slider5 ul li.active {
    border-color:#ff3333FF;
}

#thumbnail-slider5 li:hover {
    border-color:rgba(255,255,255,0.7);
}


#thumbnail-slider5 .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}


/* --------- Captions ------- */
#thumbnail-slider5 li > span {
    position:absolute;
    color:white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 20px 0px black;
    font-size: 20px;
    bottom: 2px;
    right: 2px;
}


/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider5-pause-play {display:none;} /*.pause*/

#thumbnail-slider5-prev, #thumbnail-slider5-next
{
    position: absolute;
    background-color:none;
    width:40px;
    height:50px;
    line-height:50px;
    top: 50%;
    margin:0;
    margin-top:-25px;
    color:white;
    z-index:10;
    cursor:pointer;
    opacity:1;
    *background-color:#ccc;/*IE7 hack*/
}

#thumbnail-slider5-prev {
    left:0px; right:auto;
}

#thumbnail-slider5-next {
    left:auto; right:0px;
}
#thumbnail-slider5-next.disabled, #thumbnail-slider5-prev.disabled {
    opacity:0.3;
    cursor:default;
}

/* arrows */
#thumbnail-slider5-prev::before, #thumbnail-slider5-next::before {
    position: absolute;
    top: 15px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-left: 3px solid #DDD;
    border-top: 3px solid #DDD;
}

#thumbnail-slider5-prev::before {
    left:14px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider5-next::before {
    right:14px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){
    
    #thumbnail-slider5 {
        padding:0;
    }

    #thumbnail-slider5-prev, #thumbnail-slider5-next {
        display:none;
    }
}
/*------endSlider------*/

/*------startSlider------*/
#thumbnail-slider6 {
    -webkit-transform: scale(0.8);
    transform:scale(0.8);
    transition:transform 0.25s;
    opacity:0.95;

    margin:4px auto; /*center-aligned*/
    width:100%;
    max-width:780px;
    padding:0px 40px;/*Gives room for arrow buttons*/
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider6:hover {
    -webkit-transform: scale(1);
    transform:scale(1);
    opacity:1;
}

#ninja-slider.fullscreen #thumbnail-slider6 {
    width:90%;
    max-width:1120px;
}

#thumbnail-slider6 div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}

 
#thumbnail-slider6 div.inner ul {

    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider6 ul li {
    opacity:1;
    overflow:visible;
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:2px solid #222;
    margin:0 4px;/* Spacing between thumbs*/
    box-sizing:content-box;
    
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;

    transition:all 0.2s;
    -webkit-transform:scale(1); 
    transform:scale(1);
}

#thumbnail-slider6 ul li.active {
    border-color:#ff3333FF;
}

#thumbnail-slider6 li:hover {
    border-color:rgba(255,255,255,0.7);
}


#thumbnail-slider6 .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}


/* --------- Captions ------- */
#thumbnail-slider6 li > span {
    position:absolute;
    color:white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 20px 0px black;
    font-size: 20px;
    bottom: 2px;
    right: 2px;
}


/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider6-pause-play {display:none;} /*.pause*/

#thumbnail-slider6-prev, #thumbnail-slider6-next
{
    position: absolute;
    background-color:none;
    width:40px;
    height:50px;
    line-height:50px;
    top: 50%;
    margin:0;
    margin-top:-25px;
    color:white;
    z-index:10;
    cursor:pointer;
    opacity:1;
    *background-color:#ccc;/*IE7 hack*/
}

#thumbnail-slider6-prev {
    left:0px; right:auto;
}

#thumbnail-slider6-next {
    left:auto; right:0px;
}
#thumbnail-slider6-next.disabled, #thumbnail-slider6-prev.disabled {
    opacity:0.3;
    cursor:default;
}

/* arrows */
#thumbnail-slider6-prev::before, #thumbnail-slider6-next::before {
    position: absolute;
    top: 15px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-left: 3px solid #DDD;
    border-top: 3px solid #DDD;
}

#thumbnail-slider6-prev::before {
    left:14px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider6-next::before {
    right:14px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){
    
    #thumbnail-slider6 {
        padding:0;
    }

    #thumbnail-slider6-prev, #thumbnail-slider6-next {
        display:none;
    }
}
/*------endSlider------*/


/*------startSlider------*/
#thumbnail-slider7 {
    -webkit-transform: scale(0.8);
    transform:scale(0.8);
    transition:transform 0.25s;
    opacity:0.95;

    margin:4px auto; /*center-aligned*/
    width:100%;
    max-width:780px;
    padding:0px 40px;/*Gives room for arrow buttons*/
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider7:hover {
    -webkit-transform: scale(1);
    transform:scale(1);
    opacity:1;
}

#ninja-slider.fullscreen #thumbnail-slider7 {
    width:90%;
    max-width:1120px;
}

#thumbnail-slider7 div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}

 
#thumbnail-slider7 div.inner ul {

    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider7 ul li {
    opacity:1;
    overflow:visible;
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:2px solid #222;
    margin:0 4px;/* Spacing between thumbs*/
    box-sizing:content-box;
    
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;

    transition:all 0.2s;
    -webkit-transform:scale(1); 
    transform:scale(1);
}

#thumbnail-slider7 ul li.active {
    border-color:#ff3333FF;
}

#thumbnail-slider7 li:hover {
    border-color:rgba(255,255,255,0.7);
}


#thumbnail-slider7 .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}


/* --------- Captions ------- */
#thumbnail-slider7 li > span {
    position:absolute;
    color:white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 20px 0px black;
    font-size: 20px;
    bottom: 2px;
    right: 2px;
}


/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider7-pause-play {display:none;} /*.pause*/

#thumbnail-slider7-prev, #thumbnail-slider7-next
{
    position: absolute;
    background-color:none;
    width:40px;
    height:50px;
    line-height:50px;
    top: 50%;
    margin:0;
    margin-top:-25px;
    color:white;
    z-index:10;
    cursor:pointer;
    opacity:1;
    *background-color:#ccc;/*IE7 hack*/
}

#thumbnail-slider7-prev {
    left:0px; right:auto;
}

#thumbnail-slider7-next {
    left:auto; right:0px;
}
#thumbnail-slider7-next.disabled, #thumbnail-slider7-prev.disabled {
    opacity:0.3;
    cursor:default;
}

/* arrows */
#thumbnail-slider7-prev::before, #thumbnail-slider7-next::before {
    position: absolute;
    top: 15px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-left: 3px solid #DDD;
    border-top: 3px solid #DDD;
}

#thumbnail-slider7-prev::before {
    left:14px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider7-next::before {
    right:14px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){
    
    #thumbnail-slider7 {
        padding:0;
    }

    #thumbnail-slider7-prev, #thumbnail-slider7-next {
        display:none;
    }
}
/*------endSlider------*/


/*------startSlider------*/
#thumbnail-slider8 {
    -webkit-transform: scale(0.8);
    transform:scale(0.8);
    transition:transform 0.25s;
    opacity:0.95;

    margin:4px auto; /*center-aligned*/
    width:100%;
    max-width:780px;
    padding:0px 40px;/*Gives room for arrow buttons*/
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider8:hover {
    -webkit-transform: scale(1);
    transform:scale(1);
    opacity:1;
}

#ninja-slider.fullscreen #thumbnail-slider8 {
    width:90%;
    max-width:1120px;
}

#thumbnail-slider8 div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}

 
#thumbnail-slider8 div.inner ul {

    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider8 ul li {
    opacity:1;
    overflow:visible;
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:2px solid #222;
    margin:0 4px;/* Spacing between thumbs*/
    box-sizing:content-box;
    
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;

    transition:all 0.2s;
    -webkit-transform:scale(1); 
    transform:scale(1);
}

#thumbnail-slider8 ul li.active {
    border-color:#ff3333FF;
}

#thumbnail-slider8 li:hover {
    border-color:rgba(255,255,255,0.7);
}


#thumbnail-slider8 .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}


/* --------- Captions ------- */
#thumbnail-slider8 li > span {
    position:absolute;
    color:white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 20px 0px black;
    font-size: 20px;
    bottom: 2px;
    right: 2px;
}


/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider8-pause-play {display:none;} /*.pause*/

#thumbnail-slider8-prev, #thumbnail-slider8-next
{
    position: absolute;
    background-color:none;
    width:40px;
    height:50px;
    line-height:50px;
    top: 50%;
    margin:0;
    margin-top:-25px;
    color:white;
    z-index:10;
    cursor:pointer;
    opacity:1;
    *background-color:#ccc;/*IE7 hack*/
}

#thumbnail-slider8-prev {
    left:0px; right:auto;
}

#thumbnail-slider8-next {
    left:auto; right:0px;
}
#thumbnail-slider8-next.disabled, #thumbnail-slider8-prev.disabled {
    opacity:0.3;
    cursor:default;
}

/* arrows */
#thumbnail-slider8-prev::before, #thumbnail-slider8-next::before {
    position: absolute;
    top: 15px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-left: 3px solid #DDD;
    border-top: 3px solid #DDD;
}

#thumbnail-slider8-prev::before {
    left:14px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider8-next::before {
    right:14px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){
    
    #thumbnail-slider8 {
        padding:0;
    }

    #thumbnail-slider8-prev, #thumbnail-slider8-next {
        display:none;
    }
}
/*------endSlider------*/


/*------startSlider------*/
#thumbnail-slider9 {
    -webkit-transform: scale(0.8);
    transform:scale(0.8);
    transition:transform 0.25s;
    opacity:0.95;

    margin:4px auto; /*center-aligned*/
    width:100%;
    max-width:780px;
    padding:0px 40px;/*Gives room for arrow buttons*/
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider9:hover {
    -webkit-transform: scale(1);
    transform:scale(1);
    opacity:1;
}

#ninja-slider.fullscreen #thumbnail-slider9 {
    width:90%;
    max-width:1120px;
}

#thumbnail-slider9 div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}

 
#thumbnail-slider9 div.inner ul {

    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider9 ul li {
    opacity:1;
    overflow:visible;
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:2px solid #222;
    margin:0 4px;/* Spacing between thumbs*/
    box-sizing:content-box;
    
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;

    transition:all 0.2s;
    -webkit-transform:scale(1); 
    transform:scale(1);
}

#thumbnail-slider9 ul li.active {
    border-color:#ff3333FF;
}

#thumbnail-slider9 li:hover {
    border-color:rgba(255,255,255,0.7);
}


#thumbnail-slider9 .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}


/* --------- Captions ------- */
#thumbnail-slider9 li > span {
    position:absolute;
    color:white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 20px 0px black;
    font-size: 20px;
    bottom: 2px;
    right: 2px;
}


/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider9-pause-play {display:none;} /*.pause*/

#thumbnail-slider9-prev, #thumbnail-slider9-next
{
    position: absolute;
    background-color:none;
    width:40px;
    height:50px;
    line-height:50px;
    top: 50%;
    margin:0;
    margin-top:-25px;
    color:white;
    z-index:10;
    cursor:pointer;
    opacity:1;
    *background-color:#ccc;/*IE7 hack*/
}

#thumbnail-slider9-prev {
    left:0px; right:auto;
}

#thumbnail-slider9-next {
    left:auto; right:0px;
}
#thumbnail-slider9-next.disabled, #thumbnail-slider9-prev.disabled {
    opacity:0.3;
    cursor:default;
}

/* arrows */
#thumbnail-slider9-prev::before, #thumbnail-slider9-next::before {
    position: absolute;
    top: 15px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-left: 3px solid #DDD;
    border-top: 3px solid #DDD;
}

#thumbnail-slider9-prev::before {
    left:14px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider9-next::before {
    right:14px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){
    
    #thumbnail-slider9 {
        padding:0;
    }

    #thumbnail-slider9-prev, #thumbnail-slider9-next {
        display:none;
    }
}
/*------endSlider------*/


/*------startSlider------*/
#thumbnail-slider10 {
    -webkit-transform: scale(0.8);
    transform:scale(0.8);
    transition:transform 0.25s;
    opacity:0.95;

    margin:4px auto; /*center-aligned*/
    width:100%;
    max-width:780px;
    padding:0px 40px;/*Gives room for arrow buttons*/
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider10:hover {
    -webkit-transform: scale(1);
    transform:scale(1);
    opacity:1;
}

#ninja-slider.fullscreen #thumbnail-slider10 {
    width:90%;
    max-width:1120px;
}

#thumbnail-slider10 div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}

 
#thumbnail-slider10 div.inner ul {

    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider10 ul li {
    opacity:1;
    overflow:visible;
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:2px solid #222;
    margin:0 4px;/* Spacing between thumbs*/
    box-sizing:content-box;
    
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;

    transition:all 0.2s;
    -webkit-transform:scale(1); 
    transform:scale(1);
}

#thumbnail-slider10 ul li.active {
    border-color:#ff3333FF;
}

#thumbnail-slider10 li:hover {
    border-color:rgba(255,255,255,0.7);
}


#thumbnail-slider10 .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}


/* --------- Captions ------- */
#thumbnail-slider10 li > span {
    position:absolute;
    color:white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 20px 0px black;
    font-size: 20px;
    bottom: 2px;
    right: 2px;
}


/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider10-pause-play {display:none;} /*.pause*/

#thumbnail-slider10-prev, #thumbnail-slider10-next
{
    position: absolute;
    background-color:none;
    width:40px;
    height:50px;
    line-height:50px;
    top: 50%;
    margin:0;
    margin-top:-25px;
    color:white;
    z-index:10;
    cursor:pointer;
    opacity:1;
    *background-color:#ccc;/*IE7 hack*/
}

#thumbnail-slider10-prev {
    left:0px; right:auto;
}

#thumbnail-slider10-next {
    left:auto; right:0px;
}
#thumbnail-slider10-next.disabled, #thumbnail-slider10-prev.disabled {
    opacity:0.3;
    cursor:default;
}

/* arrows */
#thumbnail-slider10-prev::before, #thumbnail-slider10-next::before {
    position: absolute;
    top: 15px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-left: 3px solid #DDD;
    border-top: 3px solid #DDD;
}

#thumbnail-slider10-prev::before {
    left:14px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider10-next::before {
    right:14px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){
    
    #thumbnail-slider10 {
        padding:0;
    }

    #thumbnail-slider10-prev, #thumbnail-slider10-next {
        display:none;
    }
}
/*------endSlider------*/