/*------startSlider------*/
#thumbnail-slider-fluid {
    -webkit-transform: scale(0.8);
    transform:scale(0.8);
    transition:transform 0.25s;
    opacity:0.95;

    margin:4px auto; /*center-aligned*/
    width:100%;
    max-width:780px;
    padding:0px 40px;/*Gives room for arrow buttons*/
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider-fluid:hover {
    -webkit-transform: scale(1);
    transform:scale(1);
    opacity:1;
}

#ninja-slider.fullscreen #thumbnail-slider-fluid {
    width:90%;
    max-width:1120px;
}

#thumbnail-slider-fluid div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}

 
#thumbnail-slider-fluid div.inner ul {

    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider-fluid ul li {
    opacity:1;
    overflow:visible;
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:2px solid #222;
    margin:0 4px;/* Spacing between thumbs*/
    box-sizing:content-box;
    
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;

    transition:all 0.2s;
    -webkit-transform:scale(1); 
    transform:scale(1);
}

#thumbnail-slider-fluid ul li.active {
    border-color:#ff3333FF;
}

#thumbnail-slider-fluid li:hover {
    border-color:rgba(255,255,255,0.7);
}


#thumbnail-slider-fluid .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}


/* --------- Captions ------- */
#thumbnail-slider-fluid li > span {
    position:absolute;
    color:white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 20px 0px black;
    font-size: 20px;
    bottom: 2px;
    right: 2px;
}


/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider-fluid-pause-play {display:none;} /*.pause*/

#thumbnail-slider-fluid-prev, #thumbnail-slider-fluid-next
{
    position: absolute;
    background-color:none;
    width:40px;
    height:50px;
    line-height:50px;
    top: 50%;
    margin:0;
    margin-top:-25px;
    color:white;
    z-index:10;
    cursor:pointer;
    opacity:1;
    *background-color:#ccc;/*IE7 hack*/
}

#thumbnail-slider-fluid-prev {
    left:0px; right:auto;
}

#thumbnail-slider-fluid-next {
    left:auto; right:0px;
}
#thumbnail-slider-fluid-next.disabled, #thumbnail-slider-fluid-prev.disabled {
    opacity:0.3;
    cursor:default;
}

/* arrows */
#thumbnail-slider-fluid-prev::before, #thumbnail-slider-fluid-next::before {
    position: absolute;
    top: 15px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-left: 3px solid #DDD;
    border-top: 3px solid #DDD;
}

#thumbnail-slider-fluid-prev::before {
    left:14px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider-fluid-next::before {
    right:14px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){
    
    #thumbnail-slider-fluid {
        padding:0;
    }

    #thumbnail-slider-fluid-prev, #thumbnail-slider-fluid-next {
        display:none;
    }
}
/*------endSlider------*/


/*------startSlider------*/
#thumbnail-slider-dongju {
    -webkit-transform: scale(0.8);
    transform:scale(0.8);
    transition:transform 0.25s;
    opacity:0.95;

    margin:4px auto; /*center-aligned*/
    width:100%;
    max-width:780px;
    padding:0px 40px;/*Gives room for arrow buttons*/
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider-dongju:hover {
    -webkit-transform: scale(1);
    transform:scale(1);
    opacity:1;
}

#ninja-slider.fullscreen #thumbnail-slider-dongju {
    width:90%;
    max-width:1120px;
}

#thumbnail-slider-dongju div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}

 
#thumbnail-slider-dongju div.inner ul {

    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider-dongju ul li {
    opacity:1;
    overflow:visible;
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:2px solid #222;
    margin:0 4px;/* Spacing between thumbs*/
    box-sizing:content-box;
    
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;

    transition:all 0.2s;
    -webkit-transform:scale(1); 
    transform:scale(1);
}

#thumbnail-slider-dongju ul li.active {
    border-color:#ff3333FF;
}

#thumbnail-slider-dongju li:hover {
    border-color:rgba(255,255,255,0.7);
}


#thumbnail-slider-dongju .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}


/* --------- Captions ------- */
#thumbnail-slider-dongju li > span {
    position:absolute;
    color:white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 20px 0px black;
    font-size: 20px;
    bottom: 2px;
    right: 2px;
}


/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider-dongju-pause-play {display:none;} /*.pause*/

#thumbnail-slider-dongju-prev, #thumbnail-slider-dongju-next
{
    position: absolute;
    background-color:none;
    width:40px;
    height:50px;
    line-height:50px;
    top: 50%;
    margin:0;
    margin-top:-25px;
    color:white;
    z-index:10;
    cursor:pointer;
    opacity:1;
    *background-color:#ccc;/*IE7 hack*/
}

#thumbnail-slider-dongju-prev {
    left:0px; right:auto;
}

#thumbnail-slider-dongju-next {
    left:auto; right:0px;
}
#thumbnail-slider-dongju-next.disabled, #thumbnail-slider-dongju-prev.disabled {
    opacity:0.3;
    cursor:default;
}

/* arrows */
#thumbnail-slider-dongju-prev::before, #thumbnail-slider-dongju-next::before {
    position: absolute;
    top: 15px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-left: 3px solid #DDD;
    border-top: 3px solid #DDD;
}

#thumbnail-slider-dongju-prev::before {
    left:14px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider-dongju-next::before {
    right:14px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){
    
    #thumbnail-slider-dongju {
        padding:0;
    }

    #thumbnail-slider-dongju-prev, #thumbnail-slider-dongju-next {
        display:none;
    }
}
/*------endSlider------*/

/*------startSlider------*/
#thumbnail-slider-trace {
    -webkit-transform: scale(0.8);
    transform:scale(0.8);
    transition:transform 0.25s;
    opacity:0.95;

    margin:4px auto; /*center-aligned*/
    width:100%;
    max-width:780px;
    padding:0px 40px;/*Gives room for arrow buttons*/
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider-trace:hover {
    -webkit-transform: scale(1);
    transform:scale(1);
    opacity:1;
}

#ninja-slider.fullscreen #thumbnail-slider-trace {
    width:90%;
    max-width:1120px;
}

#thumbnail-slider-trace div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}

 
#thumbnail-slider-trace div.inner ul {

    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider-trace ul li {
    opacity:1;
    overflow:visible;
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:2px solid #222;
    margin:0 4px;/* Spacing between thumbs*/
    box-sizing:content-box;
    
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;

    transition:all 0.2s;
    -webkit-transform:scale(1); 
    transform:scale(1);
}

#thumbnail-slider-trace ul li.active {
    border-color:#ff3333FF;
}

#thumbnail-slider-trace li:hover {
    border-color:rgba(255,255,255,0.7);
}


#thumbnail-slider-trace .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}


/* --------- Captions ------- */
#thumbnail-slider-trace li > span {
    position:absolute;
    color:white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 20px 0px black;
    font-size: 20px;
    bottom: 2px;
    right: 2px;
}


/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider-trace-pause-play {display:none;} /*.pause*/

#thumbnail-slider-trace-prev, #thumbnail-slider-trace-next
{
    position: absolute;
    background-color:none;
    width:40px;
    height:50px;
    line-height:50px;
    top: 50%;
    margin:0;
    margin-top:-25px;
    color:white;
    z-index:10;
    cursor:pointer;
    opacity:1;
    *background-color:#ccc;/*IE7 hack*/
}

#thumbnail-slider-trace-prev {
    left:0px; right:auto;
}

#thumbnail-slider-trace-next {
    left:auto; right:0px;
}
#thumbnail-slider-trace-next.disabled, #thumbnail-slider-trace-prev.disabled {
    opacity:0.3;
    cursor:default;
}

/* arrows */
#thumbnail-slider-trace-prev::before, #thumbnail-slider-trace-next::before {
    position: absolute;
    top: 15px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-left: 3px solid #DDD;
    border-top: 3px solid #DDD;
}

#thumbnail-slider-trace-prev::before {
    left:14px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider-trace-next::before {
    right:14px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){
    
    #thumbnail-slider-trace {
        padding:0;
    }

    #thumbnail-slider-trace-prev, #thumbnail-slider-trace-next {
        display:none;
    }
}
/*------endSlider------*/

/*------startSlider------*/
#thumbnail-slider-sharp {
    -webkit-transform: scale(0.8);
    transform:scale(0.8);
    transition:transform 0.25s;
    opacity:0.95;

    margin:4px auto; /*center-aligned*/
    width:100%;
    max-width:780px;
    padding:0px 40px;/*Gives room for arrow buttons*/
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider-sharp:hover {
    -webkit-transform: scale(1);
    transform:scale(1);
    opacity:1;
}

#ninja-slider.fullscreen #thumbnail-slider-sharp {
    width:90%;
    max-width:1120px;
}

#thumbnail-slider-sharp div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}

 
#thumbnail-slider-sharp div.inner ul {

    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider-sharp ul li {
    opacity:1;
    overflow:visible;
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:2px solid #222;
    margin:0 4px;/* Spacing between thumbs*/
    box-sizing:content-box;
    
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;

    transition:all 0.2s;
    -webkit-transform:scale(1); 
    transform:scale(1);
}

#thumbnail-slider-sharp ul li.active {
    border-color:#ff3333FF;
}

#thumbnail-slider-sharp li:hover {
    border-color:rgba(255,255,255,0.7);
}


#thumbnail-slider-sharp .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}


/* --------- Captions ------- */
#thumbnail-slider-sharp li > span {
    position:absolute;
    color:white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 20px 0px black;
    font-size: 20px;
    bottom: 2px;
    right: 2px;
}


/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider-sharp-pause-play {display:none;} /*.pause*/

#thumbnail-slider-sharp-prev, #thumbnail-slider-sharp-next
{
    position: absolute;
    background-color:none;
    width:40px;
    height:50px;
    line-height:50px;
    top: 50%;
    margin:0;
    margin-top:-25px;
    color:white;
    z-index:10;
    cursor:pointer;
    opacity:1;
    *background-color:#ccc;/*IE7 hack*/
}

#thumbnail-slider-sharp-prev {
    left:0px; right:auto;
}

#thumbnail-slider-sharp-next {
    left:auto; right:0px;
}
#thumbnail-slider-sharp-next.disabled, #thumbnail-slider-sharp-prev.disabled {
    opacity:0.3;
    cursor:default;
}

/* arrows */
#thumbnail-slider-sharp-prev::before, #thumbnail-slider-sharp-next::before {
    position: absolute;
    top: 15px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-left: 3px solid #DDD;
    border-top: 3px solid #DDD;
}

#thumbnail-slider-sharp-prev::before {
    left:14px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider-sharp-next::before {
    right:14px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){
    
    #thumbnail-slider-sharp {
        padding:0;
    }

    #thumbnail-slider-sharp-prev, #thumbnail-slider-sharp-next {
        display:none;
    }
}
/*------endSlider------*/

/*------startSlider------*/
#thumbnail-slider-synesthesia {
    -webkit-transform: scale(0.8);
    transform:scale(0.8);
    transition:transform 0.25s;
    opacity:0.95;

    margin:4px auto; /*center-aligned*/
    width:100%;
    max-width:780px;
    padding:0px 40px;/*Gives room for arrow buttons*/
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider-synesthesia:hover {
    -webkit-transform: scale(1);
    transform:scale(1);
    opacity:1;
}

#ninja-slider.fullscreen #thumbnail-slider-synesthesia {
    width:90%;
    max-width:1120px;
}

#thumbnail-slider-synesthesia div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}

 
#thumbnail-slider-synesthesia div.inner ul {

    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider-synesthesia ul li {
    opacity:1;
    overflow:visible;
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:2px solid #222;
    margin:0 4px;/* Spacing between thumbs*/
    box-sizing:content-box;
    
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;

    transition:all 0.2s;
    -webkit-transform:scale(1); 
    transform:scale(1);
}

#thumbnail-slider-synesthesia ul li.active {
    border-color:#ff3333FF;
}

#thumbnail-slider-synesthesia li:hover {
    border-color:rgba(255,255,255,0.7);
}


#thumbnail-slider-synesthesia .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}


/* --------- Captions ------- */
#thumbnail-slider-synesthesia li > span {
    position:absolute;
    color:white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 20px 0px black;
    font-size: 20px;
    bottom: 2px;
    right: 2px;
}


/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider-synesthesia-pause-play {display:none;} /*.pause*/

#thumbnail-slider-synesthesia-prev, #thumbnail-slider-synesthesia-next
{
    position: absolute;
    background-color:none;
    width:40px;
    height:50px;
    line-height:50px;
    top: 50%;
    margin:0;
    margin-top:-25px;
    color:white;
    z-index:10;
    cursor:pointer;
    opacity:1;
    *background-color:#ccc;/*IE7 hack*/
}

#thumbnail-slider-synesthesia-prev {
    left:0px; right:auto;
}

#thumbnail-slider-synesthesia-next {
    left:auto; right:0px;
}
#thumbnail-slider-synesthesia-next.disabled, #thumbnail-slider-synesthesia-prev.disabled {
    opacity:0.3;
    cursor:default;
}

/* arrows */
#thumbnail-slider-synesthesia-prev::before, #thumbnail-slider-synesthesia-next::before {
    position: absolute;
    top: 15px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-left: 3px solid #DDD;
    border-top: 3px solid #DDD;
}

#thumbnail-slider-synesthesia-prev::before {
    left:14px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider-synesthesia-next::before {
    right:14px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){
    
    #thumbnail-slider-synesthesia {
        padding:0;
    }

    #thumbnail-slider-synesthesia-prev, #thumbnail-slider-synesthesia-next {
        display:none;
    }
}
/*------endSlider------*/

/*------startSlider------*/
#thumbnail-slider-soundmusic {
    -webkit-transform: scale(0.8);
    transform:scale(0.8);
    transition:transform 0.25s;
    opacity:0.95;

    margin:4px auto; /*center-aligned*/
    width:100%;
    max-width:780px;
    padding:0px 40px;/*Gives room for arrow buttons*/
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider-soundmusic:hover {
    -webkit-transform: scale(1);
    transform:scale(1);
    opacity:1;
}

#ninja-slider.fullscreen #thumbnail-slider-soundmusic {
    width:90%;
    max-width:1120px;
}

#thumbnail-slider-soundmusic div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}

 
#thumbnail-slider-soundmusic div.inner ul {

    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider-soundmusic ul li {
    opacity:1;
    overflow:visible;
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:2px solid #222;
    margin:0 4px;/* Spacing between thumbs*/
    box-sizing:content-box;
    
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;

    transition:all 0.2s;
    -webkit-transform:scale(1); 
    transform:scale(1);
}

#thumbnail-slider-soundmusic ul li.active {
    border-color:#ff3333FF;
}

#thumbnail-slider-soundmusic li:hover {
    border-color:rgba(255,255,255,0.7);
}


#thumbnail-slider-soundmusic .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}


/* --------- Captions ------- */
#thumbnail-slider-soundmusic li > span {
    position:absolute;
    color:white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 20px 0px black;
    font-size: 20px;
    bottom: 2px;
    right: 2px;
}


/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider-soundmusic-pause-play {display:none;} /*.pause*/

#thumbnail-slider-soundmusic-prev, #thumbnail-slider-soundmusic-next
{
    position: absolute;
    background-color:none;
    width:40px;
    height:50px;
    line-height:50px;
    top: 50%;
    margin:0;
    margin-top:-25px;
    color:white;
    z-index:10;
    cursor:pointer;
    opacity:1;
    *background-color:#ccc;/*IE7 hack*/
}

#thumbnail-slider-soundmusic-prev {
    left:0px; right:auto;
}

#thumbnail-slider-soundmusic-next {
    left:auto; right:0px;
}
#thumbnail-slider-soundmusic-next.disabled, #thumbnail-slider-soundmusic-prev.disabled {
    opacity:0.3;
    cursor:default;
}

/* arrows */
#thumbnail-slider-soundmusic-prev::before, #thumbnail-slider-soundmusic-next::before {
    position: absolute;
    top: 15px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-left: 3px solid #DDD;
    border-top: 3px solid #DDD;
}

#thumbnail-slider-soundmusic-prev::before {
    left:14px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider-soundmusic-next::before {
    right:14px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){
    
    #thumbnail-slider-soundmusic {
        padding:0;
    }

    #thumbnail-slider-soundmusic-prev, #thumbnail-slider-soundmusic-next {
        display:none;
    }
}
/*------endSlider------*/